@import url('../fonts/EFON-webfont.css');

body {
	padding-top: 20px;
}

.game-container {
	margin: 0 auto;
	width: 700px;
}

media (min-width: 480px) and (max-width: 768px) {
	
	.game-container {
		width: 100%;
	}
	
	.game-board-container {
		width: auto;
	}
}


@media (max-width: 480px) {
	
	body {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
	
	.game-container {
		width: 100%;
	}
	
	.game-board-container {
		width: auto;
	}
}

.game-board-container {
	border: 4px #eee solid;
	border-radius: 8px;
	width: auto;
	margin: 0 auto 20px;
}

.game-board {
	min-height: 96px;
}

.game-die {
	width: 72px;
	height: 72px;
	display: inline-block;
	font-family: 'EfonRegular';
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	border: 4px #333 solid;
	border-radius: 8px;
	
	margin: 8px;
}